<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container profile">
		<div class="row">
			<div class="span12">
				<div class="well well-small clearfix">
					<div class="row-fluid">
						<div class="col-sm-2 span2">
							<img
								src="https://d30y9cdsu7xlg0.cloudfront.net/png/17241-200.png"
								class="img-polaroid" />
						</div>
						<div class="col-sm-4 span4">
							<h2>Jonnie Spratley</h2>
							<ul class="unstyled">
								<li><i class="icon-phone"></i> 916-241-3613</li>
								<li><i class="icon-envelope"></i> jonniespratley@me.com</li>
								<li><i class="icon-globe"></i> http://jonniespratley.me</li>
							</ul>
						</div>
						<div class="col-sm-4 span6">
							<ul class="inline stats">
								<li><span>275</span> Friends</li>
								<li><span>354</span> Followers</li>
								<li><span>186</span> Photos</li>
							</ul>
							<div>
								<!--/span6-->
							</div>
							<!--/row-->
						</div>
						<!--Body content-->
					</div>
				</div>
			</div>
</body>
</html>