<script type="text/javascript">
  if(typeof appModule === 'undefined'){
    document.location.href="unauthorized.html";
  }
</script> 
<div layout="row" class="loginFooter boxShadow fullHeight col-sm-12"
	ng-cloak>
	<div flex="50" class="md-apdding">
		<div class="tcsFooter"></div>
	</div>

	<div flex="50" class="md-apdding footer-text" align="right">
		<span class="txt-white"> <span class="verticalbottom">&copy;</span>
			<span class="verticalMiddle">Copyright 2016, Tata
				Consultancy Services. All Rights reserved.</span></span>
	</div>
</div>