<script type="text/javascript">
	if (typeof appModule === 'undefined') {
		document.location.href = "unauthorized.html";
	}
</script>
<div class="row footerfileIt"
	style="background-color: steelblue;" id="pageFooter">
	<div class="col-sm-3">
		<a href="http://tranfode.com/" target="_new"><img
			src="images/tranfode.png"></a>
	</div>
	<div class="col-sm-9"
		style="text-align: right !important; margin-top: 2%;">
		<a href="http://www.primeleaf.in" target="_new" class="text-white">©
			Tranfode Technologies (P) Ltd.</a>
	</div>
</div>
