<div ng-controller="HeaderController" class="header" id="pageHeader"
	ng-cloak>
	<md-toolbar>
	<div class="md-toolbar-tools" style="background-color: steelblue;">
		<md-button aria-label="Side Panel" ng-click="w3_toggle();" tabindex="0">
		<md-icon md-svg-src="images/icons8-menu-filled.svg"
			class="md-default-theme ng-scope ng-isolate-scope material-icons"></md-icon>
		<div class="md-ripple-container"></div>
		</md-button>
		<md-button> <md-icon md-svg-src="images/d vault.svg"
			aria-label="Home" ng-click="backtoHome()"
			style="height: 67px;width: 80px; outline: none;"></md-icon></md-button>
		<label
			style="color: cornsilk; font-size: 24px;">D-</label>
		<label
			style="color: red; font-size: 24px; font-style: oblique;">Vault</label>
		<span flex></span>
		<div angucomplete-alt id="ex2" placeholder="Search Book" pause="300"
			selected-object="selectedBook" local-data="people"
			local-search="localSearch" title-field="bookname"
			description-field="twitter" image-field="pic" minlength="1"
			input-class="form-control form-control-small" match-class="highlight"></div>
		<!-- <md-button class="md-fab md-mini" aria-label="Search"
			style="background-color: #54290C;" ng-click="onSearch()">
		<md-icon md-svg-src="images/search.svg" aria-label="Search"></md-icon>
		</md-button> -->
		<div class="dropdown">
			<md-button class="md-fab md-mini dropdown-toggle user-bottom"
				data-toggle="dropdown" aria-label="Profile"> <md-icon
				md-svg-src="images/user.svg" aria-label="User"></md-icon></md-button>
			<ul class="dropdown-menu">
				<li><a ng-click="gotoProfile()">Profile</a></li>
				<li><a>Settings</a></li>
				<li class="divider"></li>
				<li><a ng-click="logout()" style="color: red;">Logout</a></li>
			</ul>
		</div>
	</div>
</div>
