.display-flex {
	display: flex;
}

.display-none {
	display: none;
}

.modal-confirm {		
		color: #434e65;
		width: 525px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		font-size: 16px;
		border-radius: 5px;
		border: none;
	}
	.modal-confirm .modal-header {
		background: #e85e6c;
		border-bottom: none;   
        position: relative;
		text-align: center;
		margin: -20px -20px 0;
		border-radius: 5px 5px 0 0;
		padding: 35px;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 36px;
		margin: 10px 0;
	}
	.modal-confirm .form-control, .modal-confirm .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-confirm .close {
        position: absolute;
		top: 15px;
		right: 15px;
		color: #fff;
		text-shadow: none;
		opacity: 0.5;
	}
	.modal-confirm .close:hover {
		opacity: 0.8;
	}
	.modal-confirm .icon-box {
		color: #fff;		
		width: 95px;
		height: 95px;
		display: inline-block;
		border-radius: 50%;
		z-index: 9;
		border: 5px solid #fff;
		padding: 15px;
		text-align: center;
	}
	.modal-confirm .icon-box i {
		font-size: 58px;
		margin: -2px 0 0 -2px;
	}
	.modal-confirm.modal-dialog {
		margin-top: 80px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #eeb711;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		border-radius: 30px;
		margin-top: 10px;
		padding: 6px 20px;
		min-width: 150px;
        border: none;
    }
	.modal-confirm .btn:hover, .modal-confirm .btn:focus {
		background: #eda645;
		outline: none;
	}
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}

.loading-class {
	background-color: black;
	z-index: 100000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	opacity: 0.7;
	color: white;
	font-size: larger;
	text-align: center;
	display: none;
	height: 100%;
	width: 100%;
}

.loadingCSS {
	top: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.40);
	cursor: default;
	z-index: 2000;
	font-size: 16px;
	color: #092f4b;
}

.loadingBox {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 12px;
	box-shadow: 1px 1px 50px 1px #888888;
	cursor: default;
	z-index: 2000;
	font-size: 16px;
	color: #092f4b;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
	background-color: #AAACB5;
}

.bookshelf {
	width: 95%;
	height: 100%;
	margin: 0 auto;
	margin-top: 1%;
	border: 10px #A87328 solid !important;
	overflow: hidden;
	background-image: linear-gradient(#241909, #2c1e0b 220px, #b87e2c 220px, #b87e2c 222px,
		#A87328 222px, #A87328 228px, #986824 228px, #986824 230px);
	background-size: 10px 230px;
	box-shadow: 0px 1000px 0px 400px #7A7668;
}

.book {
	height: 200px;
	width: 40px;
	float: left;
	color: white;
	font-size: 0.9em;
	font-family: Verdana, sans-serif;
	margin-bottom: 10px;
	margin-top: 20px;
	transition: transform 0.4s ease;
}

.book-tilted {
	float: left;
	width: 74px;
}

.book-tilted>.book {
	transform: translateY(-3px) translateX(15px) rotate(9deg);
}

.book:hover {
	transform: scale(1.05);
}

.book-green {
	background-color: darkgreen;
	border-left: 2px solid #007800;
	border-right: 2px solid #005000;
}

.book-blue {
	background-color: #0C347D;
	border-left: 2px solid #0e3c90;
	border-right: 2px solid #0a2c6a;
}

.book-umber {
	background-color: #54290C;
	border-left: 2px solid #66320f;
	border-right: 2px solid #422009;
}

.book-springer {
	background-color: #EDED80;
	border-left: 2px solid #f0f092;
	border-right: 2px solid #eaea6e;
	color: black;
}

.book h2 {
	padding: 0;
	font-size: 1em;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transform: rotate(0.25turn) translateY(-35px);
	transform: rotate(0.25turn) translateY(-35px);
	width: 170px;
	font-size: 15px;
	margin-top: 41%;
	margin-left: -8%;
}

.book h3 {
	padding: 0;
	font-size: 0.7em;
	transform-origin: 0 0;
	transform: rotate(0.25turn) translateY(-15px) translateX(-20px);
	width: 150px;
}

.float1{
	position:fixed;
	width:40px;
	height:40px;
	bottom:35px;
	right:10px;
	background-color:#CD5C5C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:12px;
	font-size: 20px;
}

.mfb-component--tl, .mfb-component--tr, .mfb-component--bl, .mfb-component--br {
  box-sizing: border-box;
  margin: 25px;
  position: fixed;
  white-space: nowrap;
  z-index: 30;
  padding-left: 0;
  list-style: none;
}
.mfb-component--tl *, .mfb-component--tr *, .mfb-component--bl *, .mfb-component--br *, .mfb-component--tl *:before, .mfb-component--tr *:before, .mfb-component--bl *:before, .mfb-component--br *:before, .mfb-component--tl *:after, .mfb-component--tr *:after, .mfb-component--bl *:after, .mfb-component--br *:after {
  box-sizing: inherit;
}

/*------------------------------------*\
    #BASE | Modifiers
\*------------------------------------*/
/**
 * These styles depends on the placement of the button.
 * Styles can be:
 * 1. Top-left:  modified by the " --tl " suffix.
 * 2. Top-right: modified by the " --tr " suffix.
 * 3. Bottom-left:  modified by the " --bl " suffix.
 * 4. Bottom-right: modified by the " --br " suffix.
 */
.mfb-component--tl {
  left: 0;
  top: 0;
}

.mfb-component--tr {
  right: 0;
  top: 0;
}

.mfb-component--bl {
  left: 0;
  bottom: 0;
}

.mfb-component--br {
  right: 0;
  bottom: 0;
}

/*------------------------------------*\
    #BUTTONS | Base
\*------------------------------------*/
.mfb-component__button--main, .mfb-component__button--child {
  background-color: #E40A5D;
  display: inline-block;
  position: relative;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  cursor: pointer;
  outline: none;
  padding: 0;
  position: relative;
  -webkit-user-drag: none;
  font-weight: bold;
  color: #f1f1f1;
}

/**
 * This is the unordered list for the list items that contain
 * the child buttons.
 *
 */
.mfb-component__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mfb-component__list > li {
  display: block;
  position: absolute;
  top: 0;
  right: 1px;
  padding: 10px 0;
  margin: -10px 0;
}

/**
 * These are the basic styles for all the icons inside the main button
 */
.mfb-component__icon, .mfb-component__main-icon--active,
.mfb-component__main-icon--resting, .mfb-component__child-icon {
  position: absolute;
  font-size: 18px;
  text-align: center;
  line-height: 56px;
  width: 100%;
}

.mfb-component__wrap {
  padding: 25px;
  margin: -25px;
}

[data-mfb-toggle="hover"]:hover .mfb-component__icon, [data-mfb-toggle="hover"]:hover .mfb-component__main-icon--active,
[data-mfb-toggle="hover"]:hover .mfb-component__main-icon--resting, [data-mfb-toggle="hover"]:hover .mfb-component__child-icon,
[data-mfb-state="open"] .mfb-component__icon,
[data-mfb-state="open"] .mfb-component__main-icon--active,
[data-mfb-state="open"] .mfb-component__main-icon--resting,
[data-mfb-state="open"] .mfb-component__child-icon {
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}

/*------------------------------------*\
    #BUTTONS | Modifiers
\*------------------------------------*/
.mfb-component__button--main {
  height: 56px;
  width: 56px;
  z-index: 20;
}

.mfb-component__button--child {
  height: 56px;
  width: 56px;
}

.mfb-component__main-icon--active,
.mfb-component__main-icon--resting {
  -webkit-transform: scale(1) rotate(360deg);
  transform: scale(1) rotate(360deg);
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 1, 1);
  transition: transform 150ms cubic-bezier(0.4, 0, 1, 1);
}

.mfb-component__child-icon,
.mfb-component__child-icon {
  line-height: 56px;
  font-size: 18px;
}

.mfb-component__main-icon--active {
  opacity: 0;
}

[data-mfb-toggle="hover"]:hover .mfb-component__main-icon,
[data-mfb-state="open"] .mfb-component__main-icon {
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}
[data-mfb-toggle="hover"]:hover .mfb-component__main-icon--resting,
[data-mfb-state="open"] .mfb-component__main-icon--resting {
  opacity: 0;
  position: absolute !important;
}
[data-mfb-toggle="hover"]:hover .mfb-component__main-icon--active,
[data-mfb-state="open"] .mfb-component__main-icon--active {
  opacity: 1;
}

/*------------------------------------*\
    #BUTTONS | Animations
\*------------------------------------*/
/**
 * ZOOM-IN
 * When hovering the main button, the child buttons grow
 * from zero to normal size.
 *
 */
.mfb-component--tl.mfb-zoomin .mfb-component__list li,
.mfb-component--tr.mfb-zoomin .mfb-component__list li {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.mfb-component--tl.mfb-zoomin .mfb-component__list li:nth-child(1),
.mfb-component--tr.mfb-zoomin .mfb-component__list li:nth-child(1) {
  -webkit-transform: translateY(70px) scale(0);
  transform: translateY(70px) scale(0);
  transition: all 0.5s;
  transition-delay: 0.25s;
}
.mfb-component--tl.mfb-zoomin .mfb-component__list li:nth-child(2),
.mfb-component--tr.mfb-zoomin .mfb-component__list li:nth-child(2) {
  -webkit-transform: translateY(140px) scale(0);
  transform: translateY(140px) scale(0);
  transition: all 0.5s;
  transition-delay: 0.2s;
}
.mfb-component--tl.mfb-zoomin .mfb-component__list li:nth-child(3),
.mfb-component--tr.mfb-zoomin .mfb-component__list li:nth-child(3) {
  -webkit-transform: translateY(210px) scale(0);
  transform: translateY(210px) scale(0);
  transition: all 0.5s;
  transition-delay: 0.15s;
}
.mfb-component--tl.mfb-zoomin .mfb-component__list li:nth-child(4),
.mfb-component--tr.mfb-zoomin .mfb-component__list li:nth-child(4) {
  -webkit-transform: translateY(280px) scale(0);
  transform: translateY(280px) scale(0);
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.mfb-component--tl.mfb-zoomin .mfb-component__list li:nth-child(5),
.mfb-component--tr.mfb-zoomin .mfb-component__list li:nth-child(5) {
  -webkit-transform: translateY(350px) scale(0);
  transform: translateY(350px) scale(0);
  transition: all 0.5s;
  transition-delay: 0.05s;
}
.mfb-component--tl.mfb-zoomin .mfb-component__list li:nth-child(6),
.mfb-component--tr.mfb-zoomin .mfb-component__list li:nth-child(6) {
  -webkit-transform: translateY(420px) scale(0);
  transform: translateY(420px) scale(0);
  transition: all 0.5s;
  transition-delay: 0s;
}
.mfb-component--tl.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(1), .mfb-component--tl.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(1),
.mfb-component--tr.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(1),
.mfb-component--tr.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(1) {
  -webkit-transform: translateY(70px) scale(1);
  transform: translateY(70px) scale(1);
  transition-delay: 0.05s;
}
.mfb-component--tl.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(2), .mfb-component--tl.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(2),
.mfb-component--tr.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(2),
.mfb-component--tr.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(2) {
  -webkit-transform: translateY(140px) scale(1);
  transform: translateY(140px) scale(1);
  transition-delay: 0.1s;
}
.mfb-component--tl.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(3), .mfb-component--tl.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(3),
.mfb-component--tr.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(3),
.mfb-component--tr.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(3) {
  -webkit-transform: translateY(210px) scale(1);
  transform: translateY(210px) scale(1);
  transition-delay: 0.15s;
}
.mfb-component--tl.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(4), .mfb-component--tl.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(4),
.mfb-component--tr.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(4),
.mfb-component--tr.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(4) {
  -webkit-transform: translateY(280px) scale(1);
  transform: translateY(280px) scale(1);
  transition-delay: 0.2s;
}
.mfb-component--tl.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(5), .mfb-component--tl.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(5),
.mfb-component--tr.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(5),
.mfb-component--tr.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(5) {
  -webkit-transform: translateY(350px) scale(1);
  transform: translateY(350px) scale(1);
  transition-delay: 0.25s;
}
.mfb-component--tl.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(6), .mfb-component--tl.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(6),
.mfb-component--tr.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(6),
.mfb-component--tr.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(6) {
  -webkit-transform: translateY(420px) scale(1);
  transform: translateY(420px) scale(1);
  transition-delay: 0.3s;
}

.mfb-component--bl.mfb-zoomin .mfb-component__list li,
.mfb-component--br.mfb-zoomin .mfb-component__list li {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.mfb-component--bl.mfb-zoomin .mfb-component__list li:nth-child(1),
.mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(1) {
  -webkit-transform: translateY(-70px) scale(0);
  transform: translateY(-70px) scale(0);
  transition: all 0.5s;
  transition-delay: 0.25s;
}
.mfb-component--bl.mfb-zoomin .mfb-component__list li:nth-child(2),
.mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(2) {
  -webkit-transform: translateY(-140px) scale(0);
  transform: translateY(-140px) scale(0);
  transition: all 0.5s;
  transition-delay: 0.2s;
}
.mfb-component--bl.mfb-zoomin .mfb-component__list li:nth-child(3),
.mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(3) {
  -webkit-transform: translateY(-210px) scale(0);
  transform: translateY(-210px) scale(0);
  transition: all 0.5s;
  transition-delay: 0.15s;
}
.mfb-component--bl.mfb-zoomin .mfb-component__list li:nth-child(4),
.mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(4) {
  -webkit-transform: translateY(-280px) scale(0);
  transform: translateY(-280px) scale(0);
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.mfb-component--bl.mfb-zoomin .mfb-component__list li:nth-child(5),
.mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(5) {
  -webkit-transform: translateY(-350px) scale(0);
  transform: translateY(-350px) scale(0);
  transition: all 0.5s;
  transition-delay: 0.05s;
}
.mfb-component--bl.mfb-zoomin .mfb-component__list li:nth-child(6),
.mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(6) {
  -webkit-transform: translateY(-420px) scale(0);
  transform: translateY(-420px) scale(0);
  transition: all 0.5s;
  transition-delay: 0s;
}
.mfb-component--bl.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(1), .mfb-component--bl.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(1),
.mfb-component--br.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(1),
.mfb-component--br.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(1) {
  -webkit-transform: translateY(-70px) scale(1);
  transform: translateY(-70px) scale(1);
  transition-delay: 0.05s;
}
.mfb-component--bl.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(2), .mfb-component--bl.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(2),
.mfb-component--br.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(2),
.mfb-component--br.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(2) {
  -webkit-transform: translateY(-140px) scale(1);
  transform: translateY(-140px) scale(1);
  transition-delay: 0.1s;
}
.mfb-component--bl.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(3), .mfb-component--bl.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(3),
.mfb-component--br.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(3),
.mfb-component--br.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(3) {
  -webkit-transform: translateY(-210px) scale(1);
  transform: translateY(-210px) scale(1);
  transition-delay: 0.15s;
}
.mfb-component--bl.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(4), .mfb-component--bl.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(4),
.mfb-component--br.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(4),
.mfb-component--br.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(4) {
  -webkit-transform: translateY(-280px) scale(1);
  transform: translateY(-280px) scale(1);
  transition-delay: 0.2s;
}
.mfb-component--bl.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(5), .mfb-component--bl.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(5),
.mfb-component--br.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(5),
.mfb-component--br.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(5) {
  -webkit-transform: translateY(-350px) scale(1);
  transform: translateY(-350px) scale(1);
  transition-delay: 0.25s;
}
.mfb-component--bl.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(6), .mfb-component--bl.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(6),
.mfb-component--br.mfb-zoomin[data-mfb-toggle="hover"]:hover .mfb-component__list li:nth-child(6),
.mfb-component--br.mfb-zoomin[data-mfb-state="open"] .mfb-component__list li:nth-child(6) {
  -webkit-transform: translateY(-420px) scale(1);
  transform: translateY(-420px) scale(1);
  transition-delay: 0.3s;
}

/*------------------------------------*\
    #LABELS | base
\*------------------------------------*/
/**
 * These are the labels associated to each button,
 * exposed only when hovering the related button.
 * They are called labels but are in fact data-attributes of
 * each button (an anchor tag).
 */
[data-mfb-label]:after {
  content: attr(data-mfb-label);
  opacity: 0;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.4);
  padding: 4px 10px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  margin-top: -10.5px;
  transition: all 0.5s;
}

[data-mfb-toggle="hover"] [data-mfb-label]:hover:after,
[data-mfb-state="open"] [data-mfb-label]:after {
  content: attr(data-mfb-label);
  opacity: 1;
  transition: all 0.3s;
}

/*------------------------------------*\
    #LABELS | Modifiers
\*------------------------------------*/
.mfb-component--br [data-mfb-label]:after, .mfb-component--tr [data-mfb-label]:after {
  content: attr(data-mfb-label);
  right: 70px;
}

.mfb-component--br .mfb-component__list [data-mfb-label]:after, .mfb-component--tr .mfb-component__list [data-mfb-label]:after {
  content: attr(data-mfb-label);
  right: 70px;
}

.mfb-component--tl [data-mfb-label]:after, .mfb-component--bl [data-mfb-label]:after {
  content: attr(data-mfb-label);
  left: 70px;
}

.mfb-component--tl .mfb-component__list [data-mfb-label]:after, .mfb-component--bl .mfb-component__list [data-mfb-label]:after {
  content: attr(data-mfb-label);
  left: 70px;
}

/*------------------------------------*\
    #DEVELOPMENT | In development
\*------------------------------------*/
/**
 * This part is where unfinished code should stay.
 * When a feature is ready(sh) move these styles to their proper place.
 */
/*------------------------------------*\
    #DEVELOPMENT | Debuggers
\*------------------------------------*/
/**
 * These are mainly helpers for development. They do not have to end up
 * in production but it's handy to keep them when developing.
 */
/**
 * Apply this class to the html tag when developing the slide-in button
 */

/*# sourceMappingURL=app.css.map */



.app-menu{
  opacity: 1;
  transition: opacity .9s;
}
.fadeOut{
  opacity: 0.3;
  transition: opacity .8s;
  transition-delay: .5s;
}



.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

tr.angular-ui-tree-empty {
  height: 100px
}

.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}


/* --- Tree --- */

.tree-node {
  border: 1px solid #dae2ea;
  background: #f8faff;
  color: maroon;
    font-family: cursive;
}

.nodrop {
  background-color: #f2dede;
}

.tree-node-content {
  margin: 10px;
}

.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px;
}

.angular-ui-tree-handle:hover {}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  margin-right: 8px;
}

/* Booklet jQuery Plugin Style*/
.booklet{
	-moz-box-shadow:0px 0px 1px #fff;
	-webkit-box-shadow:0px 0px 1px #fff;
	box-shadow:0px 0px 1px #fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.booklet .b-wrap-left  {
	background:#fff url(../../../../images/left_bg.jpg) no-repeat top left;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 400px !important;
    height: 500px !important;
}
.booklet .b-wrap-right {
	background:#efefef url(../../../../images/right_bg.jpg) no-repeat top left;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 400px !important;
    height: 500px !important;
}
.booklet .b-counter {
	bottom:10px;
	position:absolute;
	display:block;
	width:90%;
	height:20px;
	border-top:1px solid #ddd;
	color:#222;
	text-align:center;
	font-size:12px;
	padding:5px 0 0;
	background:transparent;
	-moz-box-shadow:0px -1px 1px #fff;
	-webkit-box-shadow:0px -1px 1px #fff;
	box-shadow:0px -1px 1px #fff;
	opacity:0.8;
}
.book_wrapper{
	margin:0 auto;
	padding-top:50px;
	width:905px;
	height:600px;
	position:relative;
	background:transparent url(../../../../images/bg.png) no-repeat 9px 27px;
}
.book_wrapper h1{
	color:#13386a;
	margin:5px 5px 5px 15px;
	font-size:26px;
	background:transparent url(../../../../images/h1.png) no-repeat bottom left;
	padding-bottom:7px;
}
.book_wrapper p{
	font-size:16px;
	margin:5px 5px 5px 15px;
}
.book_wrapper a.article,
.book_wrapper a.demo{
	background:transparent url(../../../../images/circle.png) no-repeat 50% 0px;
	display:block;
	width:95px;
	height:41px;
	text-decoration:none;
	outline:none;
	font-size:16px;
	color:#555;
	float:left;
	line-height:41px;
	padding-left:47px;
}
.book_wrapper a.demo{
	margin-left:50px;
}
.book_wrapper a.article:hover,
.book_wrapper a.demo:hover{
	background-position:50% -41px;
	color:#13386a;
}
.book_wrapper img{
	margin:10px 0px 5px 35px;
	width:300px;
	padding:4px;
	border:1px solid #ddd;
	-moz-box-shadow:1px 1px 1px #fff;
	-webkit-box-shadow:1px 1px 1px #fff;
	box-shadow:1px 1px 1px #fff;
}
.booklet .b-wrap-right img{
	border:1px solid #E6E3C2;
}
a#next_page_button,
a#prev_page_button{
	display:none;
	position:absolute;
	width:41px;
	height:40px;
	cursor:pointer;
	margin-top:-20px;
	top:50%;
	background:transparent url(../../../../images/buttons.png) no-repeat 0px -40px;
}
a#prev_page_button{
	left:-30px;
}
a#next_page_button{
	right:-30px;
	background-position:-41px -40px;
}
a#next_page_button:hover{
	background-position:-41px 0px;
}
a#prev_page_button:hover{
	background-position:0px 0px;
}
.loading{
	width:160px;
	height:56px;
	position: absolute;
	top:50%;
	margin-top:-28px;
	right:135px;
	line-height:56px;
	color:#fff;
	padding-left:60px;
	font-size:15px;
	background: #000 url('../../../../images/ajax-loader.gif') no-repeat 10px 50%;
	opacity: 0.7;
	z-index:9999;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.cssload-body {
	position: absolute;
	margin-left: -113px;
	left: 50%;
	animation: speeder 0.46s linear infinite;
		-o-animation: speeder 0.46s linear infinite;
		-ms-animation: speeder 0.46s linear infinite;
		-webkit-animation: speeder 0.46s linear infinite;
		-moz-animation: speeder 0.46s linear infinite;
}

.cssload-body > span {
	height: 11px;
	width: 79px;
	background: rgb(0,0,0);
	position: absolute;
	top: -43px;
	left: 135px;
	border-radius: 5px 23px 2px 0;
}

.cssload-base span {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-right: 225px solid rgb(0,0,0);
	border-bottom: 14px solid transparent;
}

.cssload-base span:after {
	content: "";
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: rgb(0,0,0);
	position: absolute;
	right: -248px;
	top: -36px;
}

.cssload-base span:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 0 solid transparent;
	border-right: 124px solid rgb(0,0,0);
	border-bottom: 36px solid transparent;
	top: -36px;
	right: -221px;
}

.cssload-face {
	position: absolute;
	height: 27px;
	width: 45px;
	background: rgb(0,0,0);
	border-radius: 45px 45px 0 0;
	transform: rotate(-40deg);
		-o-transform: rotate(-40deg);
		-ms-transform: rotate(-40deg);
		-webkit-transform: rotate(-40deg);
		-moz-transform: rotate(-40deg);
	right: -281px;
	top: -34px;
}

.cssload-face:after {
	content: "";
	height: 27px;
	width: 27px;
	background: rgb(0,0,0);
	right: 9px;
	top: 16px;
	position: absolute;
	border-radius: 0 0 0 5px;
	transform: rotate(40deg);
		-o-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		-webkit-transform: rotate(40deg);
		-moz-transform: rotate(40deg);
	transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
}

.cssload-body > span > span:nth-child(1),
.cssload-body > span > span:nth-child(2),
.cssload-body > span > span:nth-child(3),
.cssload-body > span > span:nth-child(4){
	width: 68px;
	height: 2px;
	background: rgb(0,0,0);
	position: absolute;
	animation: fazer1 0.23s linear infinite;
		-o-animation: fazer1 0.23s linear infinite;
		-ms-animation: fazer1 0.23s linear infinite;
		-webkit-animation: fazer1 0.23s linear infinite;
		-moz-animation: fazer1 0.23s linear infinite;
}

.cssload-body > span > span:nth-child(2) {
	top: 7px;
	 animation: fazer2 0.46s linear infinite;
		-o-animation: fazer2 0.46s linear infinite;
		-ms-animation: fazer2 0.46s linear infinite;
		-webkit-animation: fazer2 0.46s linear infinite;
		-moz-animation: fazer2 0.46s linear infinite;
}

.cssload-body > span > span:nth-child(3) {
	top: 2px;
	animation: fazer3 0.46s linear infinite;
		-o-animation: fazer3 0.46s linear infinite;
		-ms-animation: fazer3 0.46s linear infinite;
		-webkit-animation: fazer3 0.46s linear infinite;
		-moz-animation: fazer3 0.46s linear infinite;
	animation-delay: -1.15s;
		-o-animation-delay: -1.15s;
		-ms-animation-delay: -1.15s;
		-webkit-animation-delay: -1.15s;
		-moz-animation-delay: -1.15s;
}

.cssload-body > span > span:nth-child(4) {
	top: 9px;
	animation: fazer4 1.15s linear infinite;
		-o-animation: fazer4 1.15s linear infinite;
		-ms-animation: fazer4 1.15s linear infinite;
		-webkit-animation: fazer4 1.15s linear infinite;
		-moz-animation: fazer4 1.15s linear infinite;
	animation-delay: -1.15s;
		-o-animation-delay: -1.15s;
		-ms-animation-delay: -1.15s;
		-webkit-animation-delay: -1.15s;
		-moz-animation-delay: -1.15s;
}

 fazer1 {0% {left: 0;} 100% {left: -180px;opacity: 0;}}

 fazer2 {0% {left: 0;} 100% {left: -225px;opacity: 0;}}

 fazer3 {0% {left: 0;} 100% {left: -113px;opacity: 0;}}

 fazer4 {0% {left: 0;} 100% {left: -338px;opacity: 0;}}



.cssload-longfazers {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cssload-longfazers span {
	position: absolute;
	height: 5px;
	width: 20%;
	background: rgb(0,0,0);
}

.cssload-longfazers span:nth-child(1) {
	top: 20%;
	animation: cssload-lf 0.69s linear infinite;
		-o-animation: cssload-lf 0.69s linear infinite;
		-ms-animation: cssload-lf 0.69s linear infinite;
		-webkit-animation: cssload-lf 0.69s linear infinite;
		-moz-animation: cssload-lf 0.69s linear infinite;
	animation-delay: -5.75s;
		-o-animation-delay: -5.75s;
		-ms-animation-delay: -5.75s;
		-webkit-animation-delay: -5.75s;
		-moz-animation-delay: -5.75s;
}

.cssload-longfazers span:nth-child(2) {
	top: 40%;
	animation: cssload-lf 0.92s linear infinite;
		-o-animation: cssload-lf 0.92s linear infinite;
		-ms-animation: cssload-lf 0.92s linear infinite;
		-webkit-animation: cssload-lf 0.92s linear infinite;
		-moz-animation: cssload-lf 0.92s linear infinite; 
	animation-delay: -1.15s;
		-o-animation-delay: -1.15s;
		-ms-animation-delay: -1.15s;
		-webkit-animation-delay: -1.15s;
		-moz-animation-delay: -1.15s;
}

.cssload-longfazers span:nth-child(3) {
	top: 60%;
	animation: cssload-lf 0.69s linear infinite;
		-o-animation: cssload-lf 0.69s linear infinite;
		-ms-animation: cssload-lf 0.69s linear infinite;
		-webkit-animation: cssload-lf 0.69s linear infinite;
		-moz-animation: cssload-lf 0.69s linear infinite; 
}

.cssload-longfazers span:nth-child(4) {
	top: 80%;
	animation: cssload-lf 0.58s linear infinite;
		-o-animation: cssload-lf 0.58s linear infinite;
		-ms-animation: cssload-lf 0.58s linear infinite;
		-webkit-animation: cssload-lf 0.58s linear infinite;
		-moz-animation: cssload-lf 0.58s linear infinite; 
	animation-delay: -3.45s;
		-o-animation-delay: -3.45s;
		-ms-animation-delay: -3.45s;
		-webkit-animation-delay: -3.45s;
		-moz-animation-delay: -3.45s;
}



@keyframes fazer1 {0% {left: 0;} 100% {left: -180px;opacity: 0;}}

}
}

@-o-keyframes fazer1 {0% {left: 0;} 100% {left: -180px;opacity: 0;}}

}
}

@-ms-keyframes fazer1 {0% {left: 0;} 100% {left: -180px;opacity: 0;}}

}
}

@-webkit-keyframes fazer1 {0% {left: 0;} 100% {left: -180px;opacity: 0;}}

}
}

@-moz-keyframes fazer1 {0% {left: 0;} 100% {left: -180px;opacity: 0;}}

}
}

@keyframes fazer2 {0% {left: 0;} 100% {left: -225px;opacity: 0;}}

}
}

@-o-keyframes fazer2 {0% {left: 0;} 100% {left: -225px;opacity: 0;}}

}
}

@-ms-keyframes fazer2 {0% {left: 0;} 100% {left: -225px;opacity: 0;}}

}
}

@-webkit-keyframes fazer2 {0% {left: 0;} 100% {left: -225px;opacity: 0;}}

}
}

@-moz-keyframes fazer2 {0% {left: 0;} 100% {left: -225px;opacity: 0;}}

}
}

@keyframes fazer3 {0% {left: 0;} 100% {left: -113px;opacity: 0;}}

}
}

@-o-keyframes fazer3 {0% {left: 0;} 100% {left: -113px;opacity: 0;}}

}
}

@-ms-keyframes fazer3 {0% {left: 0;} 100% {left: -113px;opacity: 0;}}

}
}

@-webkit-keyframes fazer3 {0% {left: 0;} 100% {left: -113px;opacity: 0;}}

}
}

@-moz-keyframes fazer3 {0% {left: 0;} 100% {left: -113px;opacity: 0;}}

}
}

@keyframes fazer4 {0% {left: 0;} 100% {left: -338px;opacity: 0;}}

}
}

@-o-keyframes fazer4 {0% {left: 0;} 100% {left: -338px;opacity: 0;}}

}
}

@-ms-keyframes fazer4 {0% {left: 0;} 100% {left: -338px;opacity: 0;}}

}
}

@-webkit-keyframes fazer4 {0% {left: 0;} 100% {left: -338px;opacity: 0;}}

}
}

@-moz-keyframes fazer4 {0% {left: 0;} 100% {left: -338px;opacity: 0;}}

}
}

@keyframes speeder {
	0% { transform: translate(5px, 2px) rotate(0deg); }
	10% { transform: translate(-2px, -7px) rotate(-1deg); }
	20% { transform: translate(-5px, 0px) rotate(1deg); }
	30% { transform: translate(2px, 5px) rotate(0deg); }
	40% { transform: translate(2px, -2px) rotate(1deg); }
	50% { transform: translate(-2px, 7px) rotate(-1deg); }
	60% { transform: translate(-2px, 2px) rotate(0deg); }
	70% { transform: translate(7px, 2px) rotate(-1deg); }
	80% { transform: translate(-5px, -2px) rotate(1deg); }
	90% { transform: translate(5px, 2px) rotate(0deg); }
	100% { transform: translate(2px, -5px) rotate(-1deg); }
}

@-o-keyframes speeder {
	0% { -o-transform: translate(5px, 2px) rotate(0deg); }
	10% { -o-transform: translate(-2px, -7px) rotate(-1deg); }
	20% { -o-transform: translate(-5px, 0px) rotate(1deg); }
	30% { -o-transform: translate(2px, 5px) rotate(0deg); }
	40% { -o-transform: translate(2px, -2px) rotate(1deg); }
	50% { -o-transform: translate(-2px, 7px) rotate(-1deg); }
	60% { -o-transform: translate(-2px, 2px) rotate(0deg); }
	70% { -o-transform: translate(7px, 2px) rotate(-1deg); }
	80% { -o-transform: translate(-5px, -2px) rotate(1deg); }
	90% { -o-transform: translate(5px, 2px) rotate(0deg); }
	100% { -o-transform: translate(2px, -5px) rotate(-1deg); }
}

@-ms-keyframes speeder {
	0% { -ms-transform: translate(5px, 2px) rotate(0deg); }
	10% { -ms-transform: translate(-2px, -7px) rotate(-1deg); }
	20% { -ms-transform: translate(-5px, 0px) rotate(1deg); }
	30% { -ms-transform: translate(2px, 5px) rotate(0deg); }
	40% { -ms-transform: translate(2px, -2px) rotate(1deg); }
	50% { -ms-transform: translate(-2px, 7px) rotate(-1deg); }
	60% { -ms-transform: translate(-2px, 2px) rotate(0deg); }
	70% { -ms-transform: translate(7px, 2px) rotate(-1deg); }
	80% { -ms-transform: translate(-5px, -2px) rotate(1deg); }
	90% { -ms-transform: translate(5px, 2px) rotate(0deg); }
	100% { -ms-transform: translate(2px, -5px) rotate(-1deg); }
}

@-webkit-keyframes speeder {
	0% { -webkit-transform: translate(5px, 2px) rotate(0deg); }
	10% { -webkit-transform: translate(-2px, -7px) rotate(-1deg); }
	20% { -webkit-transform: translate(-5px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(2px, 5px) rotate(0deg); }
	40% { -webkit-transform: translate(2px, -2px) rotate(1deg); }
	50% { -webkit-transform: translate(-2px, 7px) rotate(-1deg); }
	60% { -webkit-transform: translate(-2px, 2px) rotate(0deg); }
	70% { -webkit-transform: translate(7px, 2px) rotate(-1deg); }
	80% { -webkit-transform: translate(-5px, -2px) rotate(1deg); }
	90% { -webkit-transform: translate(5px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(2px, -5px) rotate(-1deg); }
}

@-moz-keyframes speeder {
	0% { -moz-transform: translate(5px, 2px) rotate(0deg); }
	10% { -moz-transform: translate(-2px, -7px) rotate(-1deg); }
	20% { -moz-transform: translate(-5px, 0px) rotate(1deg); }
	30% { -moz-transform: translate(2px, 5px) rotate(0deg); }
	40% { -moz-transform: translate(2px, -2px) rotate(1deg); }
	50% { -moz-transform: translate(-2px, 7px) rotate(-1deg); }
	60% { -moz-transform: translate(-2px, 2px) rotate(0deg); }
	70% { -moz-transform: translate(7px, 2px) rotate(-1deg); }
	80% { -moz-transform: translate(-5px, -2px) rotate(1deg); }
	90% { -moz-transform: translate(5px, 2px) rotate(0deg); }
	100% { -moz-transform: translate(2px, -5px) rotate(-1deg); }
}

@keyframes cssload-lf {
	0% {left: 200%;} 
	100% {left: -200%;opacity: 0;}
}

@-o-keyframes cssload-lf {
	0% {left: 200%;} 
	100% {left: -200%;opacity: 0;}
}

@-ms-keyframes cssload-lf {
	0% {left: 200%;} 
	100% {left: -200%;opacity: 0;}
}

@-webkit-keyframes cssload-lf {
	0% {left: 200%;} 
	100% {left: -200%;opacity: 0;}
}

@-moz-keyframes cssload-lf {
	0% {left: 200%;} 
	100% {left: -200%;opacity: 0;}
}


.bookshelf_wrapper {
  position: relative;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.books_list {
  margin: 0 auto;
  width: 300px;
  padding: 0;
}

.book_item {
  position: absolute;
  top: -120px;
  box-sizing: border-box;
  list-style: none;
  width: 40px;
  height: 120px;
  opacity: 0;
  background-color: #800000;
  border: 5px solid white;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  -webkit-animation: travel 2500ms linear infinite;
          animation: travel 2500ms linear infinite;
}
.book_item.first {
  top: -140px;
  height: 140px;
}
.book_item.first:before, .book_item.first:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: white;
}
.book_item.first:after {
  top: initial;
  bottom: 10px;
}
.book_item.second:before, .book_item.second:after, .book_item.fifth:before, .book_item.fifth:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 17.5px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}
.book_item.second:after, .book_item.fifth:after {
  top: initial;
  bottom: 10px;
}
.book_item.third:before, .book_item.third:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 10px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 5px solid white;
}
.book_item.third:after {
  top: initial;
  bottom: 10px;
}
.book_item.fourth {
  top: -130px;
  height: 130px;
}
.book_item.fourth:before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 17.5px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}
.book_item.fifth {
  top: -100px;
  height: 100px;
}
.book_item.sixth {
  top: -140px;
  height: 140px;
}
.book_item.sixth:before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  bottom: 31px;
  left: 0px;
  width: 100%;
  height: 5px;
  background-color: white;
}
.book_item.sixth:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  bottom: 10px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 5px solid white;
}
.book_item:nth-child(2) {
  -webkit-animation-delay: 416.6666666667ms;
          animation-delay: 416.6666666667ms;
}
.book_item:nth-child(3) {
  -webkit-animation-delay: 833.3333333333ms;
          animation-delay: 833.3333333333ms;
}
.book_item:nth-child(4) {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}
.book_item:nth-child(5) {
  -webkit-animation-delay: 1666.6666666667ms;
          animation-delay: 1666.6666666667ms;
}
.book_item:nth-child(6) {
  -webkit-animation-delay: 2083.3333333333ms;
          animation-delay: 2083.3333333333ms;
}

.shelf {
  width: 300px;
  height: 5px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}
.shelf:before, .shelf:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #800000;
  background-image: radial-gradient(rgba(255, 255, 255, 0.5) 30%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 -2.5px;
  top: 200%;
  left: 5%;
  -webkit-animation: move 250ms linear infinite;
          animation: move 250ms linear infinite;
}
.shelf:after {
  top: 400%;
  left: 7.5%;
}

@-webkit-keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 10px;
  }
}

@keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 10px;
  }
}
@-webkit-keyframes travel {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px) rotateZ(0deg) scaleY(1);
            transform: translateX(300px) rotateZ(0deg) scaleY(1);
  }
  6.5% {
    -webkit-transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
            transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
  }
  8.8% {
    -webkit-transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
            transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(270px) rotateZ(0deg);
            transform: translateX(270px) rotateZ(0deg);
  }
  17.6% {
    -webkit-transform: translateX(247.2px) rotateZ(-30deg);
            transform: translateX(247.2px) rotateZ(-30deg);
  }
  45% {
    -webkit-transform: translateX(165px) rotateZ(-30deg);
            transform: translateX(165px) rotateZ(-30deg);
  }
  49.5% {
    -webkit-transform: translateX(151.5px) rotateZ(-45deg);
            transform: translateX(151.5px) rotateZ(-45deg);
  }
  61.5% {
    -webkit-transform: translateX(115.5px) rotateZ(-45deg);
            transform: translateX(115.5px) rotateZ(-45deg);
  }
  67% {
    -webkit-transform: translateX(99px) rotateZ(-60deg);
            transform: translateX(99px) rotateZ(-60deg);
  }
  76% {
    -webkit-transform: translateX(72px) rotateZ(-60deg);
            transform: translateX(72px) rotateZ(-60deg);
  }
  83.5% {
    opacity: 1;
    -webkit-transform: translateX(49.5px) rotateZ(-90deg);
            transform: translateX(49.5px) rotateZ(-90deg);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(0px) rotateZ(-90deg);
            transform: translateX(0px) rotateZ(-90deg);
  }
}
@keyframes travel {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px) rotateZ(0deg) scaleY(1);
            transform: translateX(300px) rotateZ(0deg) scaleY(1);
  }
  6.5% {
    -webkit-transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
            transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
  }
  8.8% {
    -webkit-transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
            transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(270px) rotateZ(0deg);
            transform: translateX(270px) rotateZ(0deg);
  }
  17.6% {
    -webkit-transform: translateX(247.2px) rotateZ(-30deg);
            transform: translateX(247.2px) rotateZ(-30deg);
  }
  45% {
    -webkit-transform: translateX(165px) rotateZ(-30deg);
            transform: translateX(165px) rotateZ(-30deg);
  }
  49.5% {
    -webkit-transform: translateX(151.5px) rotateZ(-45deg);
            transform: translateX(151.5px) rotateZ(-45deg);
  }
  61.5% {
    -webkit-transform: translateX(115.5px) rotateZ(-45deg);
            transform: translateX(115.5px) rotateZ(-45deg);
  }
  67% {
    -webkit-transform: translateX(99px) rotateZ(-60deg);
            transform: translateX(99px) rotateZ(-60deg);
  }
  76% {
    -webkit-transform: translateX(72px) rotateZ(-60deg);
            transform: translateX(72px) rotateZ(-60deg);
  }
  83.5% {
    opacity: 1;
    -webkit-transform: translateX(49.5px) rotateZ(-90deg);
            transform: translateX(49.5px) rotateZ(-90deg);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(0px) rotateZ(-90deg);
            transform: translateX(0px) rotateZ(-90deg);
  }
}

